{% extends 'base.html' %}

{% block content %}
<form>
    <!-- Username input -->
    <div class="form-outline mb-4">
        <input type="text" id="form1Example1" class="form-control" />
        <label class="form-label" for="form1Example1">Email address</label>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form1Example1" class="form-control" />
        <label class="form-label" for="form1Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="form1Example2" class="form-control" />
        <label class="form-label" for="form1Example2">Password</label>
  </div>
</form>

{% endblock %}