
{% extends 'base.html' %}

{% block content %}

<!-- {% if error %}
<div class="alert alert-danger" role="alert">
    Wrong username or password
</div>
{% endif %} -->

<div class="container" style="margin-top: 10%;">
    <form method="post" action="{{ url_for('login') }}">
        <img src="/static/logo.png" class="rounded-circle mx-auto d-block border" alt="Logo"
            style="width: 200px; height: 200px;">
        <div class="input-group flex-nowrap my-3" style="width: 50%; margin-left: 25%; margin-right: 25%">
            <span class="input-group-text" id="addon-wrapping"><i class="far fa-user text-info"></i></span>
            <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="addon-wrapping" required />
        </div>
        <div class="input-group flex-nowrapmy-3" style="width: 50%; margin-left: 25%; margin-right: 25%">
            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-lock text-info"></i></span>
            <input name="passwd" type="password" class="form-control" placeholder="Password" aria-label="Username"
                aria-describedby="addon-wrapping" required />
        </div>
        <div class="d-grid gap-2 my-3" style="width: 50%; margin-left: 25%; margin-right: 25%">
            <button class="btn border border-info  border-2 rounded-pill" type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}
